@page "/"
@inject IConfiguration config
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<ul>
    <li>
        Default Connection: @config.GetConnectionString("Default")
    </li>
    <li>
        Root Value: @(config.GetValue<string>("RootValue"))
    </li>
    <li>
        Nested Value: @(config.GetValue<string>("Nested:NestedValue"))
    </li>
</ul>
